@use 'mixin' as mx;

@mixin bd {
	border: 1px solid red;
}


.bungkus-isi {
	width: 100%;
	height: calc(100% - mx.$hj_judul);
	overflow: hidden;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0px;
	}
}

.isi-web {
	display: grid;
	width: 100%;
	grid-template-columns: 1.2fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;

	& .gambar-isi {
		display: flex;
		justify-content: center;
		align-items: center;


		& .bingkai-gambar {
			width: 450px;
			height: 300px;
			border: 4px solid black;
			position: relative;

			& img {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: xxx-large;
				width: 95%;
				height: 100%;
				border-bottom: 1px soldi gray;
			}

			& h4 {
				background-color: gray;
				width: 300px;
				height: 25px;
				text-align: center;
				transform: rotate(90deg);
				position: absolute;
				bottom: 0;
				right: 25px;
				transform-origin: bottom right;
			}
		}
	}

	& .keterangan-isi {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;


		& div:nth-child(1) {
			font-size: 3rem;
			font-weight: bolder;
			padding-bottom: 10px;
			border-bottom: 5px solid black;
			margin-bottom: 25px;
		}

		& div:nth-child(2) {
			font-size: 1.2rem;
			text-align: center;
			padding: 20px;
		}
	}
}