@use './home';
@use 'mixin' as mx;

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(10, 0, 0, 0.87);
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@font-face {
	font-family: "Space Mono";
	src: url('../font/SpaceMono-Regular.ttf');
}


* {
	padding: 0;
	margin: 0;
	font-family: 'Space Mono';
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: mx.$c1;
}

.nanda {
	border: 10px solid mx.$c4;
	width: 90vw;
	height: 90vh;
	background-color: mx.$c5;
}